@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

.figurica-page {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
    font-family: "Syne", sans-serif;

}


.figurica-slika {
    grid-column: 1 / 2; 
    grid-row: 1 / 2; 
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.figurica-slika img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.figurica-opis {
    grid-column: 2 / 3; 
    grid-row: 1 / 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.figurica-opis h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #2c3e50;
}

.figurica-opis p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #34495e;
}

.figurica-opis p span {
    font-weight: bold;
    color: #3498db;
}


.figurica-korisnik {
    grid-column: 1 / 3; 
    grid-row: 2 / 3; 
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.figurica-korisnik h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #2c3e50;
}

.figurica-korisnik p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #34495e;
}

.figurica-korisnik p span {
    font-weight: bold;
    color: #3498db;
}


@media (max-width: 768px) {
    .figurica-page {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto; /* Sve sekcije jedna ispod druge */
    }

    .figurica-slika,
    .figurica-opis,
    .figurica-korisnik {
        grid-column: 1 / 2;
    }
}
